@charset "utf-8";
@media screen and (max-width: 767px) {
    .innerHeader{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }
    section.visual{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    section.visual .inner{
        width: 100%;
    }
    section.visual .mainTxt .tit {
        font-size: 31px;
    }
    .tit span.en_s {
        font-size: 18px;
    }
    .txt p{
        font-size: 13px;
    }
    .moreBtn{
        font-size: 12px;
    }
    section.journal{
        padding: 50px 0;
    }
    section.journal .inner{
        padding: 0 20px;
    }
    section.journal .inner .box .img {
        width: 100%;
    }
    section.journal .inner .box .img img{
        width: 100%;
    }
    .tit{
        font-size: 30px;
    }
    section.journal .inner .box .tit {
        margin-bottom: 20px;
    }
    .box ul{
        margin-top: 20px;
    }
    .box ul li h3{
        float: none;
        margin-bottom: 10px;
    }
    .box ul li p{
        float: none;
        margin-bottom: 20px;
        font-size: 12px ;
    }
    .box .moreBtn {
        margin-left: 0%;
    }
    section.service {
        padding: 50px 0;
    }
    section.service .inner{
        padding: 0 20px;
    }
    section.service .inner .box .img{
        width: 100%;
        margin-top: 30px;
    }
    section.service .inner .box.design .img {
        width: 100%;
    }
    section.service .inner .box .img img{
        width: 100%;
    }
    .box .tit {
        margin-bottom: 20px;
    }
    .design{
        margin-top: 7%;
    }
    .design .tit {
        font-size: 25px;
    }
    section.customer {
        padding: 80px 20px;
    }
    section.customer .tit {
        font-size: 25px;
    }
    section.team .inner{
        padding: 0 20px;
    }
    .team .tit{
        font-size: 30px;
    }
    .left .moreBtn{
        margin-left:22%;
    }
    section.team .circleBox {
        left: 4%;
    }
    footer .bottom{
        padding: 40px 20px 100px 20px;
    }
    footer .bottom ul li:first-child {
        font-size: 20px;
    }
    footer .top h2 span{
        font-size: 31px;
    }
    footer .bottom ul li{
        float: none;
    }
}
